<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control">
                </div>
               
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div> -->

<!-- <div class="container">

<div class="card-box">
    <form>
        <div class="row">
            <h2>Add/Edit Employee</h2>
        </div>

        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label for="txtcode">Code</label>
                    <input type="text" id="txtcode" class="form-control" autocomplete="off"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text"class="form-control" autocomplete="off"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text"class="form-control" autocomplete="off"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text"class="form-control" autocomplete="off"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label>Designation</label>
                    <select class="form-control">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div> -->


<!-- https://www.youtube.com/watch?v=SS7qIPE2LsE -->



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add User
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add/Edit Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="container">
                <form [formGroup]="empform" (ngSubmit)="addUser()">
                    <div class="row">
                    </div>
            
                    <!-- <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="txtcode">Code</label>
                                <input type="text" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                    </div> -->
                   
                        <div class="col-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text"class="form-control" formControlName="name" name="name"/>
                            </div>
                            <span *ngIf="name && name.invalid && name.touched">*name field required</span>
                        </div>
                   
                    
                        <div class="col-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text"class="form-control" formControlName="email" name="email"/>
                            </div>
                            <span class="validerror" *ngIf="email && email.invalid && email.touched">*email field required</span>
                        </div>
                  
                        <div class="col-12">
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text"class="form-control" formControlName="phone" name="phone"/>
                            </div>
                        </div>
                   
                        <div class="col-12">
                            <div class="form-group">
                                <label>Designation</label>
                                <select class="form-control" formControlName="designation">
                                    <option value="">Select Designation</option>
                                </select>
                            </div>
                        </div>
                    
                        <button [disabled]="empform.invalid" type="submit" class="btn btn-primary">Submit</button>
                        <span [ngClass]="errorClass">{{errorMessage}}</span>
                </form>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>